body{
    background-color: rgb(235, 217, 217);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.title{
    background-color: rgba(223, 80, 80, 0.979);
    text-align: center;
}

.UserInfo{
    background-color: rgb(235, 166, 62);
    float:right;
    
}

h1{
    background-color:rgba(223, 80, 80, 0.979);
    text-align: center;
    padding: initial;
    border-radius: 20px;
}
div{
    width: 25%;
    display: inline-block;
    padding: initial;
    border-radius: 20px;
}

h3{
    background-color: rgb(214, 145, 145);
    text-align: center;
    padding: initial;
    border-radius: 30px;
}

.quote{
    background-color: rgb(247, 6, 6);
    width: 30%;
    padding: initial;
    margin-right: 20%;
    border-radius: 30px;
    float: left;
}

aside{
    width: 20%;
    padding: initial;
    margin-left: 10%;
    margin-right: 20%;
    border-radius: 20px;
    float: left;
}

.meals{
    width: 35%;
    background-color: #bb5050;
}

.recipe{
    width: 50%;
    background-color: lightcoral;
}

span{
    float: right;
}

ul{
    width: 35%;
    background-color: lightcoral;
}

.calender{
    position: relative;
    top: 70%;
    left: 25%;
    border: 20px;
    margin: auto;
    padding: 5px;
}

.calender_table caption{
    background-color: white;
    color: black;
    border-radius: 25 px 25 px 0 0;
    border: 2px black;
}

#calender_table td{
    width: 100;
    height: 100px;
    vertical-align: top;
    border: black;
    border-radius: 50px;
}

#calender_table{
    background-color: rgb(231, 207, 207);
    border-spacing: 3px;
    border: 2px;
    width: 40%;
}

#calender_table th, #calender_table td{
    margin: 10px;
    padding-bottom: 10px;
}

.calender_list{
    align-content: center;
    width: 25%;
    font-size: 10%;
}

footer {
    position: fixed;
    left: 20px;
    bottom: 20px;
    width: 100%;
    background-color: rgb(230, 171, 171);
    color: white;
    text-align: center;
  }